<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Raising Accessibility</h3>
        <p>Dungeons &amp; Dragons features a complex rule set, developed over the course of 40 years. It is multifaceted, and takes dedication to master. Tome brings pieces of the Dungeons &amp; Dragons rule set into a comfortable and easy to navigate format.</p>
        <h3 class="ui header">Faster than Flipping</h3>
        <p>The Official Player's Handbook features 300+ content dense pages. Spells alone spread across 91; The growing list of official companion rule sets only increases this page count. By reformatting and reorganizing this wealth of arcane knowledge, players can spend less time with their noses' in the book, and more time with their heads' in the game.</p>
      </div>
      <div class="six wide right floated column">
        <img src="assets/img/DnD_PHB.jpg" class="ui large bordered rounded image">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <!-- make this randomly pick three from a bigger list -->
      <div class="column">
        <h3>"...Good lord this thing looks useful."</h3>
        <p><a href="https://www.reddit.com/user/AbbyTheConqueror">/u/AbbyTheConqueror</a></p>
      </div>
      <div class="column">
        <h3>"Oh hey, it works on mobile."</h3>
        <p><a href="https://www.reddit.com/user/Bronze_Johnson">/u/Bronze_Johnson</a></p>
      </div>
      <div class="column">
        <h3>"Have to admit, pretty legit."</h3>
        <p>
          <a href="https://www.reddit.com/user/creepynaomi">/u/creepynaomi</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h4 class="ui horizontal header divider">The Future of Table Tome<h4>
    <h3 class="ui header">Sharing is Caring</h3>
    <p>While loose leaf paper can get the job done, Tome keeps all of your custom content in one, universally accessible location. Tome will allow an inspired player to format and organize their ideas for both personal and community use.</p>
</div>
