<div class="ui container">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="ui small image">
        <img class="img-circle" ng-src="{{user.picture}}" />
      </div>
      <div class="content">
        <a class="header">{{ user.nickname }}</a>
        <div class="description">{{ user.user_metadata.about }}</div>
      </div>
    </div>
    <div class="ui two column grid">
      <div class="item eight wide column">
        <div class="content">
          <h4>Spell Lists</h4>
          <table class="ui compact celled definition table" style="table-layout: fixed; width: 100%" ng-if="user.user_metadata.spell_lists">
            <tr>
              <th>Name</th>
              <th>Spells</th>
            </tr>
            <tr ng-repeat="list in user.user_metadata.spell_lists">
              <td>{{ list.name }}</td>
              <td class="ui list">
                <div ng-repeat="spell in list.list">{{ spell }}</div>
              </td>
            </tr>
          </table>
          <div ng-if="!user.user_metadata.spell_lists">This user has no spell lists!</div>
        </div>
      </div>
      <div class="item eight wide column">
        <div class="content">
          <table class="ui compact celled definition table" style="table-layout:fixed; width: 100%">
            <tr>
              <th style="text-align: center;" colspan="2">Custom Spells</th>
            </tr>
            <tr ng-repeat="spell in user.user_metadata.custom_lists">
              <td>{{ spell.spell }}</td>
            </tr>
          </table>
          {{ user.user_metadata.custom_spells }}
        </div>
      </div>
    </div>
  </div>
</div>
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!--     <div class="ui container">
    <div class="ui relaxed divided items">
        <div class="item">
            <div class="ui small image">
                <img class="img-circle" ng-src="{{auth.profile.picture}}" />
            </div>
            <div class="content">
                <a class="header">User Name {{auth.profile.username}}</a>
                <div class="description">
                    hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!!
                    <--- me bein random again _^ hehe…toodles!!!!! love and waffles, t3h PeNgU1N oF d00m </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="item eight wide column">
                    <div class="content">
                        Spell lists will go here
                    </div>
                </div>
                <div class="item eight wide column">
                    Custom Spells will go here
                </div>
            </div>
        </div>
    </div> -->
<!-- Name
About
Spell Lists
Custom Spells -->
