<div class="ui stackable grid container">
  <div class="five wide column">
    <div ng-if="auth.isAuthenticated" ng-include="'app/views/includes/spell_lists/spellbook.lists.html'"></div>
    <div ng-include="'app/views/includes/spellbook.filters.html'"></div>
  </div>
  <div class="eleven wide column">
    <div class="ui huge fluid icon input">
      <input type="text" placeholder="Search by spell name..." ng-model="filters.search" />
      <i class="search icon"></i>
    </div>
    <table id="spell-table" class="ui sortable selectable celled table">
      <thead>
        <tr>
          <th class="">Spell Name</th>
          <th class="" id="default-sort">Level</th>
          <th class="">School</th>
          <th class="no-sort nohand">Classes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="spells === 'loading'">
          <td colspan="4">
            <div class="ui active centered inline text loader">Loading Spells</div>
          </td>
        </tr>
        <tr ng-if="spells !== 'loading'" ng-click="spellClick(spell)" ng-repeat="spell in spells | filter: { name: filters.search } | filter:filter | filter:spellLists.filter">
          <td>{{ spell.name }}</td>
          <td ng-switch on="spell.level" data-sort-value="{{ spell.level }}">
            <span ng-switch-when="0">cantrip</span>
            <span ng-switch-default>{{ spell.level }}</span>
          </td>
          <td>{{ spell.school }}</td>
          <td>
            <div class="ui list">
              <div class="item" ng-repeat="class in spell.classes">{{ class }}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="spellbook-spell-modal" class="ui modal" ng-include="'app/views/includes/modal.spell.html'"></div>
<script>
  $('#spell-table').tablesort();
</script>
