<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Community</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/table-tome/table-tome/issues" target="_blank" class="item"><i class="icon warning circle"></i> Submit an Issue</a>
          <a href="https://www.reddit.com/r/TableTome/" class="item"><i class="reddit square icon"></i> Reddit</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Developers</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/table-tome/table-tome" class="item"><i class="github icon"></i> Repository</a>
          <a href="https://trello.com/b/ZOigqCCD" class="item"><i class="trello icon"></i> Task Board</a>
          <a href="https://gitter.im/table-tome/table-tome" class="item"><i class="comments outline icon"></i> Chat Room</a>
        </div>
      </div>
      <div class="nine wide column">
        <h4 class="ui inverted header">Disclaimer</h4>
        <p class="disclaimer">
          This Table Tome is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. This Table Tome may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy <a class="item" href="http://dnd.wizards.com/articles/features/fan-site-kit">[link]</a>. For example, Dungeons & Dragons® is a trademark[s] of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a class="item" href="http://company.wizards.com/">www.wizards.com</a>.
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img class="ui centered mini image" src="../../assets/img/table-tome-logo.png" />
    <div class="ui horizontal inverted small divided link list">
      <div class="item"><i class="copyright icon"></i> Table Tome 2016</div>
      <a class="item" href="https://rcos.io/">Originally a RCOS Project</a>
      <a class="item" href="https://opensource.org/licenses/GPL-3.0">Open Source License</a>
    </div>
  </div>
</div>
