<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Group 1</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Group 2</h4>
        <div class="ui inverted link list"><a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="ten wide column">
        <h4 class="ui inverted header">Disclaimer</h4>
        <p class="disclaimer">
          This Table Tome is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. This Table Tome may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under Wizards' Fan Site Policy <a class="item" href="http://dnd.wizards.com/articles/features/fan-site-kit">[link]</a>. For example, Dungeons & Dragons® is a trademark[s] of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a class="item" href="http://company.wizards.com/">www.wizards.com</a>.
        </p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img class="ui centered mini image" src="../../assets/img/table-tome-logo.png" />
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">One</a>
      <a class="item" href="#">Two</a>
      <a class="item" href="#">Three</a>
      <a class="item" href="#">Four</a>
    </div>
  </div>
</div>
