<div class="ui fixed inverted menu">
  <!-- fixed?? -->
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="../../assets/img/table-tome-logo.png"> Table Tome
    </a>
    <a class="ui item" href="/spellbook"><i class="wizard icon"></i> Spellbook</a>
    <div class="right menu">
      <a class="ui item" href="/login" ng-click="login()" ng-if="!loggedIn">Login / Register</a>
      <div class="ui simple dropdown item" ng-if="loggedIn">
        <img class="ui avatar image" src="http://www.gravatar.com/avatar/00000000000000590000000000000000" />&nbsp;User <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Profile</a>
          <a class="item" href="#">Settings</a>
          <div class="divider"></div>
          <a class="item" href="/" ng-click="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>