<div class="ui vertical inverted sidebar menu left">
  <a ng-click="sidebar()" href="/" class="item">
    <img class="ui avatar image" src="../../assets/img/table-tome-logo.png"> Table Tome
  </a>
  <a class="item" ng-click="sidebar()" href="/spellbook"><i class="wizard icon"></i> Spellbook</a>
  <a class="item" href="https://blog.tabletome.com/"><i class="write icon"></i> Blog</a>
</div>
<!-- end sidebar -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="toc item" ng-click="sidebar()"><i class="sidebar icon"></i></a>
    <a href="/" class="header item show">
      <img class="logo" src="../../assets/img/table-tome-logo.png">
    </a>
    <a href="/" class="header item hide">
      <img class="logo" src="../../assets/img/table-tome-logo.png"> Table Tome
    </a>
    <a class="ui item hide" href="/spellbook"><i class="wizard icon"></i> Spellbook</a>
    <a class="ui item hide" href="https://blog.tabletome.com/"><i class="write icon"></i> Blog</a>
  </div>
</div>
