<!-- BEGIN import table css for markdown tables -->
<link rel="stylesheet" href="assets/css/table.css" />
<!-- END import table css -->
<div class="ui modal spell">
  <i class="close icon"></i>
  <div class="header">
    {{ clickedSpell.name }}
  </div>
  <div class="content">
    <div class="spell labels">
      <div class="ui large teal label">
        <i class="arrow up icon"></i> Level
        <div class="detail" ng-switch on="clickedSpell.level">
          <span ng-switch-when="0">cantrip</span>
          <span ng-switch-default>{{ clickedSpell.level }}</span>
        </div>
      </div>
      <div class="ui large blue label">
        <i class="university icon"></i> School
        <div class="detail">{{ clickedSpell.school }}</div>
      </div>
      <div class="ui large violet label" ng-if="clickedSpell.ritual">
        Ritual Spell
      </div>
      <div class="ui large brown label" ng-if="clickedSpell.source">
        <i class="book icon"></i> {{ clickedSpell.source.name }}
        <div class="detail">{{ clickedSpell.source.page }}</div>
      </div>
      <div class="ui large pink label" ng-if="clickedSpell.author">
        <i class="write icon"></i> {{ clickedSpell.author }}
      </div>
    </div>
    <table class="ui celled padded green table">
      <thead>
        <tr>
          <th class="single line">Classes</th>
          <th class="single line">Casting Time</th>
          <th class="single line">Range</th>
          <th class="single line">Duration</th>
          <th class="single line">Components</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui list">
              <div class="item" ng-repeat="class in clickedSpell.classes">{{ class }}</div>
            </div>
          </td>
          <td>{{ clickedSpell.castingTime }}</td>
          <td>{{ clickedSpell.range }}</td>
          <td>{{ clickedSpell.duration }}</td>
          <td>
            <div class="ui list">
              <div class="item" ng-if="clickedSpell.components.verbal">verbal</div>
              <div class="item" ng-if="clickedSpell.components.somatic">somatic</div>
              <div class="item" ng-if="clickedSpell.components.material.has">
                material: <em>{{ clickedSpell.components.material.items }}</em></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui black segment" btf-markdown="clickedSpell.description"></div>
  </div>
</div>
