<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    {{ clickedSpell.name }}
  </div>
  <div class="content">
    <div class="spell labels">
      <div class="ui large teal label">
        <i class="arrow up icon"></i> Level
        <div class="detail" ng-switch on="clickedSpell.level">
          <span ng-switch-when="0">cantrip</span>
          <span ng-switch-default>{{ clickedSpell.level }}</span>
        </div>
      </div>
      <div class="ui large blue label">
        <i class="university icon"></i> School
        <div class="detail">{{ clickedSpell.school }}</div>
      </div>
      <div class="ui violet label" ng-if="clickedSpell.ritual">
        Ritual Spell
      </div>
    </div>
    <table class="ui celled padded green table">
      <thead>
        <tr>
          <th class="single line">Classes</th>
          <th class="single line">Casting Time</th>
          <th class="single line">Range</th>
          <th class="single line">Duration</th>
          <th class="single line">Components</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui list">
              <div class="item" ng-repeat="class in clickedSpell.classes">{{ class }}</div>
            </div>
          </td>
          <td>{{ clickedSpell.castingTime }}</td>
          <td>{{ clickedSpell.range }}</td>
          <td>{{ clickedSpell.duration }}</td>
          <td>
            <div class="ui red label" ng-if="clickedSpell.components.verbal">verbal</div>
            <div class="ui orange label" ng-if="clickedSpell.components.somatic">somatic</div>
            <div class="ui brown label" ng-if="clickedSpell.components.material.has">
              material
              <div class="detail">{{ clickedSpell.components.material.items }}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui black segment" btf-markdown="clickedSpell.description"></div>
  </div>
  <div class="actions">
    <div class="ui labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> Favorite
      </div>
      <div class="ui basic red left pointing label">1,048</div>
    </div>
    <div class="ui labeled button" tabindex="0">
      <div class="ui blue button">
        <i class="thumbs up icon"></i> Like
      </div>
      <div class="ui basic blue left pointing label">1,048</div>
    </div>
    <div class="ui labeled button" tabindex="0">
      <div class="ui green button">
        <i class="copy icon"></i> Clone
      </div>
      <div class="ui basic green left pointing label">1,048</div>
    </div>
    <div class="ui bottom right pointing purple dropdown button">
      <i class="plus icon"></i> Add to List
      <div class="menu">
        <div class="header">
          <i class="list icon"></i> Spell Lists
        </div>
        <div class="divider"></div>
        <div class="item">List 1</div>
        <div class="item">List 2</div>
        <div class="item">List 3</div>
        <div class="divider"></div>
        <div class="item">Create New List</div>
      </div>
    </div>
  </div>
</div>
<script>
$('.ui.dropdown').dropdown();
</script>
