.toc.item {
  display: none !important;
}

.item.show {
  display: none !important;
}

img.logo {
  margin-right: 1.5em !important;
}

.item.show img.logo {
  margin-right: 0 !important;
}

.main.container {
  margin-top: 7em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.disclaimer {
  margin: 0em 1em;
}

.table.selectable:hover {
  cursor: pointer;
}

.fillheight {
	min-height: 55vh;
}


.filter .field {
  margin-bottom: 1em;
}

.ui.left.pointing.label:hover {
  cursor: default;
}

@media only screen and (max-width: 700px) {
  .toc.item {
    display: flex !important;
    align-items: center;
  }

  .item.show {
    display: flex !important;
    align-items: center;
  }

  .item.hide {
    display: none !important;
  }
}