img.logo {
  margin-right: 1.5em !important;
}

.main.container {
  margin-top: 7em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.disclaimer {
  margin: 0em 1em;
}

.notop {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.table.selectable:hover {
  cursor: pointer;
}

.fillheight {
	min-height: 55vh;
}


.filter .field {
  margin-bottom: 1em;
}

.filter .field>label {
  display: block;
  margin: 0 0 .28571429rem;
  color: rgba(0, 0, 0, .87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.ui.left.pointing.label:hover {
  cursor: default;
}