<div id="spell-list-edit-modal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    <i class="list icon"></i> Edit "{{ spellLists.lists[spellLists.selected].name }}" List
  </div>
  <div class="content">
    <div ng-if="spellLists.lists[spellLists.selected].list.length === 0">
      This spell list has no spells in it. Add some!
    </div>
    <div class="ui middle aligned divided list">
      <div class="item" ng-repeat="spell_id in spellLists.lists[spellLists.selected].list">
        <div class="content">
          <button class="ui basic mini circular red icon button" ng-click="spellLists.edit.remove_spell(spellLists.lists[spellLists.selected].name, spell_id)">
            <i class="close icon"></i>
          </button>
          &emsp;{{ getSpell(spell_id).name }}
        </div>
      </div>
    </div>

  </div>
  <div class="actions">
    <button class="ui red button" ng-click="spellLists.edit.remove_list(spellLists.lists[spellLists.selected].name)">
      <i class="trash icon"></i> Delete List
    </button>
  </div>
</div>
