<div id="spellbookfilters" class="ui fluid vertical menu">
  <div class="ui large header item">Spell Lists</div>
  <div class="field item">
    <div class="ui fluid vertical labeled icon buttons">
      <button class="ui fluid green button"><i class="plus icon"></i> Create List</button>
      <button class="ui fluid teal button"><i class="write icon"></i>Edit Lists</button>
    </div>
  </div>
  <div class="field item">
    <div class="header">Current List</div>
    <select class="ui fluid dropdown">
      <option value="all">All Spells</option>
      <option value="1">List 1</option>
      <option value="2">List 2</option>
    </select>
  </div>
</div>
<script>
$('select.dropdown').dropdown();
</script>
