<div id="spellbookfilters" class="ui fluid vertical menu">
  <div class="ui large header item">Spell Lists</div>
  <div class="field item">
    <button class="ui fluid green button" ng-click="spellLists.create.show()"><i class="plus icon"></i> Create List</button>
  </div>
  <div class="field item">
    <div class="header">Current List</div>
    <select id="spell-list-dropdown" class="ui fluid dropdown" ng-model="spellLists.selected" ng-change="listChanged()">
      <option value="all">All Spells</option>
      <option value="{{ $index }}" ng-repeat="list in spellLists.lists">{{ list.name }}</option>
    </select>
  </div>
  <div class="field item">
    <div class="ui fluid vertical buttons">
      <button class="ui fluid teal button" ng-click="spellLists.edit.show()" ng-disabled="spellLists.selected === 'all'">
        <i class="write icon"></i> Edit List
      </button>
      <button class="ui fluid red button" ng-click="spellLists.edit.remove_list(spellLists.lists[spellLists.selected].name)" ng-disabled="spellLists.selected === 'all'">
        <i class="trash icon"></i> Delete List
      </button>
    </div>
  </div>
</div>
<ng-include src="'app/views/includes/spell_lists/modal.create.html'"></ng-include>
<ng-include src="'app/views/includes/spell_lists/modal.edit.html'"></ng-include>
<script>
  $('select.dropdown').dropdown();
</script>
