<div class="ui container">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="ui small image">
        <img class="img-circle" ng-src="{{user.picture}}" />
      </div>
      <div class="content">
        <a class="header">{{ user.nickname }}</a>
        <div class="description">{{ user.user_metadata.about }}</div>
      </div>
    </div>
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="content">
          <h4>Spell Lists</h4>
          <table class="ui compact celled definition table" style="table-layout: fixed; width: 100%" ng-if="user.user_metadata.spell_lists">
            <tr>
              <th>Name</th>
              <th>Spells</th>
            </tr>
            <tr ng-repeat="list in user.user_metadata.spell_lists">
              <td>{{ list.name }}</td>
              <td class="ui list">
                <div ng-repeat="spell in list.list">{{ spell }}</div>
              </td>
            </tr>
          </table>
          <div ng-if="!user.user_metadata.spell_lists">This user has no spell lists!</div>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4>Custom Spells</h4>
          <div class="ui segment">
            {{ user.user_metadata.custom_spells }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
